@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --page-background: #1f8ac0; 
    --background: #efc9af; 
    --text: #f2f2f2; 
    --button: #104c91;  
    --button-hover: #1f8ac0;  
    --border: black;  
    --display: #f2f2f2; 
    --display-text: #104c91; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: var(--page-background);
    color: var(--text);
    font-family: 'IBM Plex Mono', monospace;
  }

h1 {
    width: 100%; 
    text-align: center; 
    margin: 25px; 
    font-size: 3rem; 
}


.container {
    max-width: 400px;
    border: 2px solid var(--border);
    border-radius: 20px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--background);
}

.display {
    min-height: 70px;
    padding: 20px;
    border: 2px solid var(--border); 
    margin-bottom: 15px;
    background-color: var(--display);
    color: var(--display-text); 
    font-size: 2rem;
    text-align: right;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#C, 
#D {
    grid-column: span 2;
}

button {
    padding: 20px;
    border: 2px solid var(--border);
    border-radius: 8px;
    background-color: var(--button);
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover); 
}

button:active {
    background: var(--text);
  }